@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border: none;
  outline: none;
}

/* Router */

.routerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
}

/* Navigation */

nav ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.homeBtn,
.profileBtn {
  margin: 0 10px;
}

.homeBtn .icon,
.profileBtn .icon {
  color: #04aaff;
  font-size: 40px;
}

.profileBtn a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileBtn a span {
  margin-top: 10px;
  font-size: 12px;
}

/* Home */

.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: 20px;
}

/* Nwitter Factory */

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.factoryInput__input {
  background-color: inherit;
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 10px 0px;
  color: white;
  text-align: center;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.factoryInput__label {
  color: #04aaff;
  cursor: pointer;
}

.factoryInput__label span {
  margin-right: 10px;
}

.factoryForm__attachment img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.factoryForm__clear {
  margin-bottom: 20px;
  color: #04aaff;
  text-align: center;
  cursor: pointer;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 14px;
}

/* Nweet */

.formInput {
  width: 100%;
  padding: 10px 20px;
  color: black;
  text-align: center;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: white;
}

.formBtn {
  width: 100%;
  padding: 10px 20px;
  color: white;
  text-align: center;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancelBtn {
  width: 100%;
  background-color: tomato;
}

.nweetEdit .formBtn {
  margin-top: 15px;
  margin-bottom: 5px;
}

.nweet {
  position: relative;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
}

.nweet img {
  position: absolute;
  top: 20px;
  right: -10px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background: white;
  border-radius: 50%;
}

.nweet__actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 10px;
}

/* Profile */

.profileForm {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
}

.logOut {
  margin-top: 20px;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100vh;
}

.authContainer .logo {
  margin-bottom: 30px;
  color: #04aaff;
  font-size: 50px;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.authBtn {
  width: 150px;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  background: white;
  cursor: pointer;
}

.authBtn .icon {
  font-size: 12px;
}

/* AuthForm */

.authInput {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 30px;
}

.authSubmit {
  margin-top: 10px;
  color: white;
  background: #04aaff;
  cursor: pointer;
}

.authError {
  color: tomato;
  font-weight: 500;
  text-align: center;
}

.authSwitch {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #04aaff;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
